@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a1a19;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  color: #1a1a19;
}

::-webkit-scrollbar-thumb {
  background: #ecdfcc;
}

@media (max-width: 1100px) {
  #responsive {
    flex-direction: column;
  }
}
